# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore virtual environment directories
virtualenv/
venv/
.venv/

# Ignore editor/IDE specific files
.vscode/
.idea/

# Ignore environment variables file (contains secrets)
.env

# Ignore uploaded files
uploads/

# Flutter build artifacts
mobile_app/.dart_tool/
mobile_app/build/
mobile_app/.packages
instance/
