Flask==3.0.2
SQLAlchemy==2.0.40
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Werkzeug==3.0.1
python-dotenv==1.0.1
Flask-WTF==1.2.2
psycopg2-binary==2.9.10
Flask-Migrate==4.1.0
Flask-Markdown==0.3
Markdown==3.8
openai==1.12.0
google-generativeai==0.8.5
mammoth==1.9.0
pdfminer.six==20250327
defusedcsv==2.0.0
google-ai-generativelanguage
scikit-learn
pyPDF2
python-docx
requests
Flask-Talisman==1.1.0
