Flask
Flask-SQLAlchemy
Flask-Login
Flask-Migrate
Flask-WTF
psycopg2-binary
python-dotenv
openai
google-generativeai
mammoth
pdfminer.six
defusedcsv
Werkzeug
google-ai-generativelanguage
scikit-learn
pyPDF2
python-docx
requests
